<h1>SIGN UP PAGE</h1>
<form method="POST" action="/auth/signup">
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="name" class="form-control" placeholder="Johnny Appleseed">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" name="email" class="form-control" placeholder="johnny@appleseed.com">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password">
  </div>
  <input type="submit" value="Sign Up" class="btn btn-success">
</form>
