<h3>Sign up for your Honeydew account</h3>
<br>
<p><i>Note: <a href="/auth/login" id="login-link">Login</a> as "johnny@appleseed.com" with password "test" to explore the app with pre-populated recipe data.</i></p>
<form method="POST" action="/auth/signup">
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="name" class="form-control" placeholder="Johnny Appleseed">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" name="email" class="form-control" placeholder="johnny@appleseed.com">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password">
  </div>
  <input type="submit" value="Sign Up" class="btn branded-btn">
</form>
