    <div class="row">
      <div class="col-1">
        <a href="/"><img class="logo" src="/images/honeydew_logo.png"></a>
      </div>
      <div class="col-11 text-right">
        <% if(!currentUser) {%>
          <a href="/auth/login" class="btn btn-primary">Log In</a>
          <a href="/auth/signup" class="btn btn-success">Sign Up</a>
        <% } else { %>
          <a href="/auth/logout" class="btn btn-danger">Log Out</a>
          <a href="/profile" class="btn btn-primary">Profile</a>
        <% } %>
      </div>
    </div>
    <hr>