<h1>Grocery List</h1>
<p>Your grocery list contains ingredients from the recipes in your week's meal plan.</p>
<hr>
<div class="container">

<!-- local variables to store and sort recipe & ingredient info before displaying on screen -->
<% let recipeList = [];
   let ingredientsList = [] %>
  
  <h4>RECIPES</h4>

<!-- store recipes to local variable -->
<% userRecipes.forEach( (recipe) => {
     for (let i = 0; i < recipe.activeCount; i++) {
       recipeList.push(recipe.recipeName)
     }
   }); %>

<!-- display active recipe summary -->
  <ul>
<%  recipeSummary.forEach( recipe => { %>
      <li><%= recipe %></li>
<%  }); %>
  </ul>

  <h4>INGREDIENTS</h4>
<% if (userRecipes.length === 0) { %>
     <p>You haven't added any recipes to your meal plan yet. <a href="/">Add them now!</a></p>
<% } else { %>
     <!-- store ingredients to local variable -->
<%   userRecipes.forEach( (recipe) => {
       recipe.ingredients.forEach( (ingredient) => {
         let ingredientStr = `${ingredient.ingredientName} (${ingredient.qty} ${ingredient.measuringUnit})`;
         ingredientsList.push(ingredientStr);
       })
     })
   } %>

<!-- sort ingredients alphabetically, then display on screen -->
  <ul>
<% ingredientsList.sort().forEach( (ingredient) => { %>
      <li><%= ingredient %></li>
<%  }) %>
  </ul>
</div>