<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-1">
      <h3>Sun</h3>
    </div>
    <div class="col-sm-12 col-lg-1">
      <h3>Mon</h3>
    </div>
    <div class="col-sm-12 col-lg-1">
      <h3>Tue</h3>
    </div>
    <div class="col-sm-12 col-lg-1">
      <h3>Wed</h3>
    </div>
    <div class="col-sm-12 col-lg-1">
      <h3>Thu</h3>
    </div>
    <div class="col-sm-12 col-lg-1">
      <h3>Fri</h3>
    </div>
    <div class="col-sm-12 col-lg-1">
      <h3>Sat</h3>
    </div>
  </div>
</div>
