<% if (!currentUser) {%>
     <br><h5 class="welcome-message">Honeydew helps you plan meals more effectively. Sign up or log in to get started!</h5>
<% } else { %>

<!-- RECIPE BANK -->
<div class="row">
  <div class="col-10" id="recipe-bank">
  </div>
</div>
<div class="row">
  <div class="col-12 text-right">
    <button type="button" class="btn branded-btn" data-toggle="modal" data-target="#new-recipe-modal" id="new-recipe-btn">Add new recipe</button>
  </div>
</div>
  
<!-- NEW RECIPE MODAL -->
    <div class="modal fade" id="new-recipe-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add new recipe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form enctype="multipart/form-data" method="POST" action="/recipes">
            <div class="container">
              <div class="modal-body">
                <div class="form-group" id="recipe-name-group">
                  <div class="row">
                    <label for="recipe-name-input">Recipe name</label>
                    <input type="text" class="form-control" id="recipe-name-input" name="recipe-name-input">
                  </div>
                </div>
                <div class="form-group" id="meal-type-group">
                  <div class="row">
                    <label for="meal-type-select">Meal type</label>
                    <select class="form-control" id="meal-type-select" name="meal-type-select">
                      <option>Breakfast</option>
                      <option>Lunch</option>
                      <option>Dinner</option>
                      <option>Dessert</option>
                    </select>
                  </div>
                </div>
                <div class="form-group" id="ingredients-group">
                  <div class="row">
                    <label for="ingredients-label">Ingredients</label>
                  </div>
                  <div class="row text-left">
                    <div class="col-2">
                      <label for="ingredient-qty-input">Qty</label>
                    </div>
                    <div class="col-3">
                      <label for="ingredient-measuring-unit-select">Meas. Unit</label>
                    </div>
                    <div class="col-7">
                      <label for="ingredient-item-input">Item</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="control-group" id="fields">
                      <div class="controls">
                        <form role="form" autocomplete="off">
                          <div class="entry input-group">
                            <div class="col-2">
                              <input type="text" class="form-control" id="ingredient-qty-input" name="ingredient-qty-input">
                            </div>
                            <div class="col-3">
                              <select class="form-control" id="ingredient-measuring-unit-select" name="ingredient-measuring-unit-select">
                                <option>can</option>
                                <option>cup</option>
                                <option>fl oz</option>
                                <option>g</option>
                                <option>gallon</option>
                                <option>kg</option>
                                <option>l</option>
                                <option>lb</option>
                                <option>mg</option>
                                <option>ml</option>
                                <option>oz</option>
                                <option>pint</option>
                                <option>quart</option>
                                <option>tbs</option>
                                <option>tsp</option>
                                <option>whole</option>
                              </select>
                            </div>
                            <div class="col-5">
                              <input type="text" class="form-control" id="ingredient-item-input" name="ingredient-item-input">
                            </div>
                            <span class="input-group-btn">
                              <button class="btn btn-success btn-add" type="button"><i class="fas fa-plus"></i></button>
                            </span>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group" id="prep-instructions-group">
                  <div class="row">
                    <label for="prep-instructions-input">Prep instructions</label>
                    <textarea class="form-control" id="prep-instructions-text-area" rows="3"  name="prep-instructions-text-area"></textarea>
                  </div>
                </div>
                <div class="form-group" id="prep-time-group">
                  <div class="row">
                    <label for="prep-time-input">Prep time</label>
                    <input type="text" class="form-control" id="prep-time-input" name="prep-time-input" placeholder="10 minutes" onfocus="this.placeholder=''" onblur="this.placeholder='10 minutes'">
                  </div>
                </div>
                <div class="form-group" id="cook-time-group">
                  <div class="row">
                    <label for="cook-time-input">Cook time</label>
                    <input type="text" class="form-control" id="cook-time-input" name="cook-time-input" placeholder="15 minutes" onfocus="this.placeholder=''" onblur="this.placeholder='15 minutes'">
                  </div>
                </div>
                <div class="form-group" id="serving-size-group">
                  <div class="row">
                    <label for="serving-size-select">Serving size</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <select class="form-control-sm" id="serving-size-select" name="serving-size-select">
                      <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>
                    </select>
                  </div>
                </div>
                <div class="form-group" id="image-group">
                  <div class="row">
                    <label for="my-file">Upload a photo of the recipe:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="file" id="my-file" name="my-file">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn branded-btn" id="save-recipe-btn" value="Save recipe">
              </div>
            </div> <!-- close container -->
          </form>

        </div>
      </div>
    </div> <!-- end modal -->
    
<br>
<!-- MEALPLAN CALENDAR -->
<div class="row">
  <div class="col-12">
    <div class="table-responsive" id="meal-plan-calendar"></div>
  </div>
</div>

<!-- GROCERY LIST -->
<div class="row">
  <div class="col-12 text-right">
    <a href="/grocerylist"><button type="button" class="btn branded-btn">See grocery list</button></a>
  </div>
</div>
<hr>
<% } %>