<% if (!currentUser) {%>
     <br><h5 class="welcome-message">Honeydew helps you plan meals more effectively. Sign up or log in to get started!</h5>
<% } else { %>

<!-- RECIPE BANK -->
<div class="row">
  <div class="col-10" id="recipeBank">
  </div>
</div>
<div class="row">
  <div class="col-12 text-right">
    <button type="button" class="btn branded-btn" data-toggle="modal" data-target="#newRecipeModal" id="newRecipeBtn">Add new recipe</button>
  </div>
</div>
  
<!-- NEW RECIPE MODAL -->
    <div class="modal fade" id="newRecipeModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add new recipe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form enctype="multipart/form-data" method="POST" action="/api/recipes">
            <div class="container">
              <div class="modal-body">
                <div class="form-group" id="recipeNameGroup">
                  <div class="row">
                    <label for="recipeNameInput">Recipe name</label>
                    <input type="text" class="form-control" id="recipeNameInput" name="recipeNameInput">
                  </div>
                </div>
                <div class="form-group" id="mealTypeGroup">
                  <div class="row">
                    <label for="mealTypeSelect">Meal type</label>
                    <select class="form-control" id="mealTypeSelect" name="mealTypeSelect">
                      <option>Breakfast</option>
                      <option>Lunch</option>
                      <option>Dinner</option>
                      <option>Dessert</option>
                    </select>
                  </div>
                </div>
                <div class="form-group" id="ingredientsGroup">
                  <div class="row">
                    <label for="ingredientsLabel">Ingredients</label>
                  </div>
                  <div class="row text-left">
                    <div class="col-2">
                      <label for="ingredientQtyInput">Qty</label>
                    </div>
                    <div class="col-3">
                      <label for="ingredientMeasuringUnitSelect">Meas. Unit</label>
                    </div>
                    <div class="col-7">
                      <label for="ingredientItemInput">Item</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <input type="text" class="form-control" id="ingredientQtyInput" name="ingredientQtyInput">
                    </div>
                    <div class="col-3">
                      <select class="form-control" id="ingredientMeasuringUnitSelect" name="ingredientMeasuringUnitSelect">
                        <option>cup</option>
                        <option>fl oz</option>
                        <option>g</option>
                        <option>gallon</option>
                        <option>kg</option>
                        <option>l</option>
                        <option>lb</option>
                        <option>mg</option>
                        <option>ml</option>
                        <option>oz</option>
                        <option>pint</option>
                        <option>quart</option>
                        <option>tbs</option>
                        <option>tsp</option>
                        <option>whole</option>
                      </select>
                    </div>
                    <div class="col-7">
                      <input type="text" class="form-control" id="ingredientItemInput" name="ingredientItemInput">
                    </div>
                  </div>
                </div>
                <div class="form-group" id="prepInstructionsGroup">
                  <div class="row">
                    <label for="prepInstructionsInput">Prep instructions</label>
                    <textarea class="form-control" id="prepInstructionsTextArea" rows="3"  name="prepInstructionsTextArea"></textarea>
                  </div>
                </div>
                <div class="form-group" id="prepTimeGroup">
                  <div class="row">
                    <label for="prepTimeInput">Prep time</label>
                    <input type="text" class="form-control" id="prepTimeInput" name="prepTimeInput" placeholder="10 minutes" onfocus="this.placeholder = ''" onblur="this.placeholder = '10 minutes'">
                  </div>
                </div>
                <div class="form-group" id="cookTimeGroup">
                  <div class="row">
                    <label for="cookTimeInput">Cook time</label>
                    <input type="text" class="form-control" id="cookTimeInput" name="cookTimeInput" placeholder="15 minutes" onfocus="this.placeholder = ''" onblur="this.placeholder = '15 minutes'">
                  </div>
                </div>
                <div class="form-group" id="servingSizeGroup">
                  <div class="row">
                    <label for="servingSizeSelect">Serving size</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <select class="form-control-sm" id="servingSizeSelect" name="servingSizeSelect">
                      <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>
                    </select>
                  </div>
                </div>
                <div class="form-group" id="imageGroup">
                  <div class="row">
                    <input type="file" id="myFile" name="myFile">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" id="saveRecipeBtn" value="Save recipe">
              </div>
            </div> <!-- close container -->
          </form>

        </div>
      </div>
    </div> <!-- end modal -->
    
<br>
<!-- MEALPLAN CALENDAR -->
<div class="row">
  <div class="col-12">
    <div class="table-responsive" id="mealPlanCalendar"></div>
  </div>
</div>

<!-- GROCERY LIST -->
<div class="row">
  <div class="col-12 text-right">
    <a href="/grocerylist"><button type="button" class="btn branded-btn">Generate grocery list</button></a>
  </div>
</div>
<% } %>