<!-- let dayOfWeek = []; -->
<div class="container">
  <div class="row">
    <div class="col-10" id="recipeBank">
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right">
      <button type="button" class="btn branded-btn">Add new recipe</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div id="mealPlanCalendar"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right">
      <button type="button" class="btn branded-btn">Generate grocery list</button>
    </div>
  </div>
</div>
