body {
  color: black;
  font-family: 'Roboto', sans-serif;
}
a:hover {
  text-decoration: none;
}
table.table-bordered {
  border: 1px solid #6D747C;
}
table.table-bordered > thead > tr > th {
  border: 1px solid #6D747C;
}
table.table-bordered > tbody > tr > th {
  border: 1px solid #6D747C;
}
table.table-bordered > tbody > tr > td {
  border: 1px solid #6D747C;
}
span .badge {
  font-size: 124px;
}
.logo {
  height: 64px;
  margin-top: 20px;
  width: 64px;
}
.logo-text {
  color: #a6a6a6;
  display: inline;
  vertical-align: bottom;
}
.header-btn {
  margin-top: 45px;
}
.branded-btn {
  background-color: #D1E681;
  color: #2E197E;
}
.badge {
  /*background-color: #a6a6a6;*/
  /*background-color: #6D747C;*/
  cursor: move;
  height: 20px;
}
.badge-outline {
  background-color: transparent;
  border: 1px solid #6D747C;
  color: #6D747C;
}
.badge-outline:hover {
  background-color: #6D747C;
  border: 1px solid #6D747C;
  color: white;
}
.mobileDay {
  background-color: #F5F5F5;
}
.entry:not(:first-of-type) {
  margin-top: 10px;
}

.glyphicon {
  font-size: 12px;
}

@media only screen and (max-width: 414px) {
  .logo {
    height: 32px;
    margin-top: 20px;
    width: 32px;
  }
  .logo-text {
    color: #a6a6a6;
    display: inline;
    vertical-align: bottom;
    font-size: 20px;
  }
  .header-btn {
    margin-top: 22px;
  }
}