body {
  font-family: 'Roboto', sans-serif;
  /*background-color: #D1E681;*/
  color: #2E197E;
}
table.table-bordered {
  border: 1px solid black;
  /*margin-top:20px;*/
}
table.table-bordered > thead > tr > th {
  border: 1px solid black;
}
table.table-bordered > tbody > tr > th {
  border: 1px solid black;
}
table.table-bordered > tbody > tr > td {
  border: 1px solid black;
}
span {
  font-size: 24px;
}
.logo {
  height: 64px;
  width: 64px;
}
.header-btn {
  margin-top: 20px;
}
.badge {
  height: 20px;
}
.branded-btn {
  background-color: #D1E681;
  color: black;
}
/*.col-lg-1 {
  max-width: 16%;
}*/
