body {
  color: #2E197E;
  font-family: 'Roboto', sans-serif;
}
a:hover {
  text-decoration: none;
}
table.table-bordered {
  border: 1px solid black;
}
table.table-bordered > thead > tr > th {
  border: 1px solid black;
}
table.table-bordered > tbody > tr > th {
  border: 1px solid black;
}
table.table-bordered > tbody > tr > td {
  border: 1px solid black;
}
span {
  font-size: 24px;
}
.logo {
  height: 64px;
  margin-top: 20px;
  width: 64px;
}
.logo-text {
  color: #2E197E;
  display: inline;
  vertical-align: bottom;
}
.header-btn {
  margin-top: 45px;
}
.branded-btn {
  background-color: #D1E681;
  color: #2E197E;
}
.badge {
  height: 20px;
}
